snippet hmenu "hugo menu"
	{{ range.Site.Menus.${1:name}.Sort.ByWeight }}
	${2:content}
	{{ end }}
# snippet "h\sk([1-6])" "whatever" r
# djdkdk
snippet tes "Description" b
  ${2:${1:tes}}
	${1/(\w+).*/$1/}
	${1/\w+\s*/\u$0/g}
	${1/\w+\s*/\l$0/g}
	${1/\s+/-\L$0/g}
	${1/(\w+)\s+/\L$1-/g}
	${1/.*/\L$0/}
	${1/.*/$0+1/}
	`tes` 
	`#/usr/bin/zsh
    echo 'hello zsh'

