snippet huga "front matter hugo" b
---
title: "${1:judul}"
slug: ${2:custom slug}
date: cpLasmod
lastmod: update

${5:tag}:
    - ${6:tag name}

image: "${3:img-url}"
description: "${4:description}"
---
