snippet nfc "next function" b
	export default function ${1:Home}() {
		return (
		<${2:tag}>
		${3:content}
		</${2/(\w+).*/$1/}>
		)
	}
snippet rfc "react function" b
	import React from 'react'
	export default function ${1:Home}() {
		return (
		<${2:tag}>
		${3:content}
		</${2/(\w+).*/$1/}>
		)
	}
snippet usestate "usestate" b
	const [${1:var}, set${1/\w+\s*/\u$0/g}] = useState({${2:return}})
snippet useEffect "function useEffect" b
	useEffect((${1:var})=>{
		 ${2:return} 
		},[${3:var}])
