snippet getId "get element by class" b
const ${1:var} = document.getElementById("${2:class}");
snippet info "komen for info" b
/**
 * ${1:title}
 *
 * need :
 * @${2:function example: for something;}
 */
