snippet w-fit "tailwind" b
w-fit${1:width:fit-content;}
snippet h-fit "tailwind" b
w-fit${1:hight:fit-content;}
snippet float-right "tailwind" b
# float
float-right${1:float: right;}
snippet float-left "tailwind" b
float-left${1:float: left;}
snippet float-none "tailwind" b
float-none${1:float: none;}
