snippet sm:	"640px"	
@media (min-width: 640px) { ... }
snippet md:	"6768px"	
@media (min-width: 768px) { ... }
snippet lg:	"61024px"	
@media (min-width: 1024px) { ... }
snippet xl:	"61280px"	
@media (min-width: 1280px) { ... }
snippet 2xl: "1536px"	
@media (min-width: 1536px) { ... }
snippet placeholder: "tailwind" b
placeholder:
